@font-face {
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 400;
    src: url("Amiri-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    src: url("Amiri-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Modesto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('modesto-condensed.ttf') format('truetype');
}
@font-face {
    font-family: 'Modesto Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('modesto-condensed.ttf') format('truetype');
}
